%div
  %h1{ class: "ui black header" }
    Bettttou official site.

%div{ class: "ui column six wide" }
  %div{ id: "map", class: "rounded ui image", style: "width: 600px; height: 350px;" }

%div{ class: "column", style: "margin-top: 10px;" }
  %div{ class: "ui message row" }
    %div{ class: "header"}
      ここはなんですか？
    %p
      ここはBettttouさんのサイトです...
    %p
      彼はしばらくの間、エチオピアにて活動をします。
      活動内容を監視しやすくするため、サイトを作りました。
    %p
      このサイトを中心にBettttou先生を監視できればな、と思います。
    %p
      地図にBettttou先生が訪れた土地のマーカーが表示されるはずです＾ー＾

%div{ class: "column" }
  %h1{ class: "ui black header" }
    ソーシャル的なもの
  %a{ class: "ui button facebook", href: "https://www.facebook.com/groups/594755467264762/" }
    %i{ class: "facebook icon" }
    Bettttou Facebook ページ
  %a{ class: "ui button twitter", href: "https://twitter.com/bettttou/" }
    %i{ class: "twitter icon" }
    Bettttou Twitter アカウント
