%header
  %h1{ class: "index" }
    Betto Official Site
%div{ class: "description ui black massive message" }
  エチオピアに飛び立つ別当さんを見送るサイト
  %p
    ご期待ください！

%div{ class: "column" }
  %img{ class: "betto ui image rounded", src: "images/betto.jpg" }
