%html
  %head
    %link{ rel: "stylesheet", type: "text/css", href: "css/semantic.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "css/main.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "css/bigvideo.css" }

    %script{ type: "text/javascript", src: "//code.jquery.com/jquery-2.1.0.min.js" }
    %script{ type: "text/javascript", src: "//code.jquery.com/ui/1.10.4/jquery-ui.js" }
    %script{ type: "text/javascript", src: "//vjs.zencdn.net/4.2/video.js" }
    %script{ type: "text/javascript", src: "http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js" }
    %script{ type: "text/javascript", src: "//maps.google.com/maps/api/js?sensor=true" }
    %script{ type: "text/javascript", src: "javascript/bigvideo.js" }
    %script{ type: "text/javascript", src: "javascript/semantic.min.js" }
    %script{ type: "text/javascript", src: "javascript/gmaps.min.js" }
    %script{ type: "text/javascript", src: "javascript/main.js" }

  %body
    = yield
